body
{
	color: white;
	text-align: center;
	
	}
#Register
{
background: blanchedalmond;
padding-bottom: 23px;
padding-top: 23px;
padding-right: 12px;
padding-left: 12px;
width: 500px;
margin: 0 auto;


}
#Main
{
	background-image: url(https://wallpapercave.com/w/wp4008065.jpg);
}