#Register{
background-color: brown;
padding-bottom: 23px;
padding-top: 23px;
padding-right: 12px;
padding-left: 12px;
width: 500px;
margin: 0 auto;

}
#Main
{
	background-image: url(https://wallpapercave.com/w/gdTD4zH.jpg);
}